main {
  padding-top: 1rem;
}
.signup-title {
  text-align: center;
  color: #ff5454;
}
.signup-form {
  padding: 1rem;
}
.signup-form label {
  font-weight: bold;
}
.signup-page label,
.signup-page select,
.signup-page input {
  display: block;
  margin-top: 1rem;
  width: 100%;
}
/* .signup-page input[type='checkbox'] { */
.signup-page input[id*='terms'],
.signup-page input[id*='terms'] + label {
  display: inline-block;
  width: auto;
}
.signup-page button[type='submit'] {
  display: block;
  margin-top: 1rem;
}
@media (min-width:40rem) {
  .signup-form {
    margin: auto;
    width: 30rem;
  }
}